stages:
  - prepare
  - build
  - deploy-doc

build_base:
  stage: prepare
  script:
  - docker build --tag dppp_base:${CI_COMMIT_SHORT_SHA} -f ./docker/ubuntu_20_04_base .

build-lofar:
  stage: build
  dependencies: 
    - build_base
  script:
  - docker build --build-arg BASE_TAG=${CI_COMMIT_SHORT_SHA} --tag dppp_lofar:${CI_COMMIT_SHORT_SHA} -f ./docker/ubuntu_20_04_lofar .

build-test:
  stage: build
  dependencies: 
    - build_base
  image: dppp_base:${CI_COMMIT_SHORT_SHA}
  before_script:
    - apt-get -y install python3-pip
    - pip3 install gcovr
  script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_CXX_FLAGS="-coverage" -DCMAKE_EXE_LINKER_FLAGS="-coverage" ..
    - CTEST_OUTPUT_ON_FAILURE=1 make test -j2
    - gcovr -r . -f '.*/src/.*' -e '.*/CompilerIdCXX/.*' -e '.*/test/.*'

build-doc:
  stage: build
  before_script:
  - apk update
  - apk add doxygen cmake ninja python3 py3-pip
  - python3 -m pip install --user --upgrade pip
  - python3 -m pip install jsonschema2rst sphinx sphinx-rtd-theme
  script:
  - mkdir build && cd build
  - cmake -G Ninja ../docs
  - ninja doc userdoc
  artifacts: # Only for master the docs are published; for branches it may be useful to browse the artifacts
    paths:
    - build/docs

deploy-doc:
  stage: deploy-doc
  dependencies: 
    - build-doc
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | base64 -d | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H dop288 > ~/.ssh/known_hosts
  script:
    - scp -r build/docs/* citt@dop288:DP3/
  only:
    refs:
      - master