stages:
  - build
  - coverage
  - deploy-doc

.env:
  before_script:
  - export DOCKER_IMAGE=`echo $CI_PROJECT_NAME | awk '{print tolower($0)}'`:$CI_COMMIT_SHORT_SHA

build_lofar:
  stage: build
  extends: .env
  script:
  # - docker build --tag ${DOCKER_IMAGE}_lofar -f ./docker/ubuntu_20_04_lofar .
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --tag ${DOCKER_IMAGE}_lofar -f ./docker/ubuntu_20_04_lofar .
  - docker push $DOCKER_IMAGE:lofar


build_nolofar:
  stage: build
  extends: .env
  script:
  - docker build --tag ${DOCKER_IMAGE}_nolofar -f ./docker/ubuntu_20_04_nolofar .

build-doc:
  stage: build
  before_script:
  - apk update
  - apk add doxygen cmake ninja python3 py3-pip
  - python3 -m pip install --user --upgrade pip
  - python3 -m pip install jsonschema2rst sphinx sphinx-rtd-theme
  script:
  - mkdir build && cd build
  - cmake -G Ninja ../docs
  - ninja doc userdoc
  artifacts: # Only for master the docs are published; for branches it may be useful to browse the artifacts
    paths:
    - build/docs

coverage:
  stage: coverage
  image: $DOCKER_IMAGE:lofar
  dependencies: 
    - build_lofar
  before_script:
    - apt-get -y install python3-pip
    - pip3 install gcovr
  script:
    - cd /build
    - gcovr -r .. -e '.*/CompilerIdCXX/.*' -e '.*/test/.*'

deploy-doc:
  stage: deploy-doc
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | base64 -d | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H dop288 > ~/.ssh/known_hosts
  script:
    - scp -r build/docs/* citt@dop288:DP3/
  only:
    refs:
      - master
